svg {
  width: var(--deckgo-qrcode-size);
  height: var(--deckgo-qrcode-size);

  stroke: var(--deckgo-qrcode-border-stroke);

  rect {
    fill: var(--deckgo-qrcode-background-fill, transparent);
  }

  path {
    fill: var(--deckgo-qrcode-color-fill);
  }
}
